doctype html
html
  head
    link(rel='stylesheet', href='/style.css')
    script(src='/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js')
    script(src='/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js')
    link(rel='stylesheet' href='/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css')
    script(src="/socket.io/socket.io.js")
    script(src="/js/script.js")

    link(rel='stylesheet', href='/bootstrap-3.1.1-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css')
    script(src='/bootstrap-3.1.1-dist/js/bootstrap.min.js')
  body
    h1= env.name

    if (hasMessages)
      ul#messages
        each msg in messages
          li= msg

    div#testing_information
      h1#pack_name
      h2#testStatus Status: In process...
      div.container
      h3 Test Console
      div#test_console

    if (env.packages.length)
      div
        table(class="table table-hover")
          thead
            tr
              th Product
              if (!!env.packages[0].version)
                th Version
              else
                th Changelist
              th Build Time
              th Smoke Status
              th Action
              th Package
              th(class='hide') Benchmark
            tbody
              each pack in env.packages
                tr
                  td
                    p #{pack.product}
                  td
                    if (!!pack.version)
                      p #{pack.version}
                    else
                      p #{pack.changelist}
                  td
                    p #{pack.buildTime}
                  td
                    p 
                      span(id='ts_'+env.id+'_'+pack.id class=pack.smokeStatus) #{pack.smokeStatus}
                  td
                    if ( !pack.isTested )
                      if (pack.status == 'disabled')
                        button(id= 'runTest_' + env.id + '_'+pack.id + ' ' + pack.name, type="button" class="runtest_button testinfo_btn btn btn-primary btn-block" disabled="disabled") Run Test
                      else if (pack.status == 'onprocess')
                        button(id= 'monitorTest_' + env.id + '_'+pack.id + ' ' + pack.name, type="button" class="monitortest_button testinfo_btn btn btn-info btn-block") Monitor Process
                      else if( pack.status == 'normal')
                        button(id= 'runTest_' + env.id + '_'+pack.id + ' ' + pack.name, type="button" class="runtest_button testinfo_btn btn btn-primary btn-block") Run Test
                    else
                      button(id= 'browseResult_' + env.id + '_'+pack.id + ' ' + pack.name, type="button" class="browseResult_button testinfo_btn btn btn-default btn-block") Browse Result
                  td
                    p #{pack.name}
                  td
                    button(id='genBenchmark_' + env.id + '_'+pack.id, class='hide btn btn-primary') Generate
    else
      p No packages!