doctype html
html
	head
		script(src='/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js')
		script(src='/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js')
		link(rel='stylesheet' href='/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css')
		link(rel='stylesheet', href='/bootstrap-3.1.1-dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css')
		script(src='/bootstrap-3.1.1-dist/js/bootstrap.min.js')
		
		link(rel = 'stylesheet', href = '/style.css')
		script(src="/socket.io/socket.io.js")

		link(rel = 'stylesheet', href = 'fileupload/css/jquery.fileupload.css')
		script(src='fileupload/js/vendor/jquery.ui.widget.js')
		script(src='fileupload/js/jquery.iframe-transport.js')
		script(src='fileupload/js/jquery.fileupload.js')
		link(rel = 'stylesheet', href = 'd3/sequences.css')
	header
		include ../../../includes/head

	body
		div.container-fluid
			div.row
				h2( style="float:left") #{suites.smoke.name} test suite 
				button(id="btn_addtestcase" data-toggle="modal" data-target="#myModal" type="button" class="btn btn-primary btn-lg" style="margin-top:22px;margin-left:20px; padding:5px;")
					span(class="glyphicon glyphicon-plus")
		div(class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			div.modal-dialog
				div.modal-content
					div.modal-header
						button(type="button" class="close" data-dismiss="modal" aria-hidden="true")&times;
						h4(class="modal-title" id="myModalLabel") Add New Test Case
					div.modal-body
						form(role="form")
							div.form-group
								label(for="ownerEmail") Owner Email address
								input(type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email")
							div.form-group
								label(for="testDescription") Description
								textarea(class="form-control" rows="3")
							div.form-group
								//- label(for="rvtfile") Select Revit File(s)
								span(class="btn btn-success fileinput-button" style="position:relative;overflow:hidden;")
									i(class="glyphicon glyphicon-plus")
									span Select Revit File(s) ...
									input(id="fileupload" type="file" name="files[]" multiple style="opacity:0;position:absolute;top:0px;right:0px;margin:0px;font-size:200px;")
							div.form-group
								label Testing Options
								div.checkbox
									label Ignore 2D Views
										input(type="checkbox")
					div.modal-footer
						button(type="button" class="btn btn-default" data-dismiss="modal") close
						button(type="submit" class="btn btn-primary" data-dismiss="modal") Submit
		div(class="modal fade" id="perfModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			div(class="modal-dialog" style="margin:0px;")
				div(class="modal-content" style="min-width:1000px;")
					div.modal-header
						button(type="button" class="close" data-dismiss="modal" aria-hidden="true")&times;
						h4(class="modal-title" id="myModalLabel") Performance 
							span(id="result_title" class="label label-primary" style="margin-left:50px;padding:10px;")
					div.modal-body
						ul(class="nav nav-tabs" role="tablist")
							li.active
								a(href="#tab_information" role="tab" data-toggle="tab") Information
							li
								a(href="#tab_historyPerf" role="tab" data-toggle="tab") History
							li
								a(href="#tab_perf" role="tab" data-toggle="tab") Single
						div(class="tab-content" style="min-height:600px;min-width:960px")
							div(class="tab-pane active" id="tab_information")
							div(class="tab-pane" id="tab_historyPerf")
								form#groupmethod
									label Grouped
										input(type="radio" name="mode" value="grouped")
									label Stacked
										input(type="radio" name="mode" value="stacked" checked)
								div#main_historyPerf
							div(class="tab-pane" id="tab_perf")
								div#main
									div#sequence
									div#chart
										div(id="explanation" style="visibility: hidden;")
											span#percentage
											br
											span#time
								div#sidebar
									input(type="checkbox" id="togglelegend") Legend
									br
									div(id="legend" style="visibility: hidden;")
							div(class="btn-group dropup" style="position:absolute;left:50px;top:600px")
								button(type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown") Select
									span.caret
								ul(class="dropdown-menu" role="menu")
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="#2") Release per changelist
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="#3") Release daily
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="#0") Development per changelist
									li(role="presentation")
										a(role="menuitem" tabindex="-1" href="#1") Development daily
								div.casetitle
									h3 Release per changelist
								div#selectedInformation
									h4.packageNameAndTime
									h5.taskNameAndTime
					div.modal-footer
						button(type="button" class="btn btn-default" data-dismiss="modal") close
		div
			table(id="suitesTable", class="table table-hover")
				thead
					tr
						th Name
						th Path
						th Args
						th Owner
						th Description
						th Actions
					tbody
						each ts in suites.smoke.suites
							tr
								td
									p #{ts.name}
								td
									p #{ts.path}
								td
									p #{ts.args}
								td
									p #{ts.owner}
								td
									p #{ts.description}
								td
									div.dropdown
										button(class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown") Actions
											span.caret
										ul(class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1")
											li(role="presentation")
												a(role="menuitem" tabindex="-1" href="#"+ts.id action="generate_baseline") Generate Baseline
											li(role="presentation")
												a(role="menuitem" tabindex="-1" href="#"+ts.id action="check_performance" data-toggle="modal" data-target="#perfModal") Performance
											li(role="presentation" class="divider")
											li(role="presentation")
												a(role="menuitem" tabindex="-1" href="#"+ts.id action="delete_case") Delete
	script(src="d3/d3.js")
	script(src="d3/sequences.js")
	script(src="js/suite.js")
	link(rel='stylesheet', href='css/suite.css')
